In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder 
from sklearn.preprocessing import OneHotEncoder

In [4]:
df_codi = pd.read_csv('pairs_limpieza.csv', index_col=0)
df_codi.head(2)

,case_number,year,type,country,area,location,activity,name,age,species,injury,fecha_limpia,fatal_limpio,sexo,age_2,type_2
0,1800.00.00,1800,Unprovoked,seychelles,St. Anne,NaN,a corsair's boat was overturned,NaN,27.37,unspecified,"FATAL, all onboard were killed by sharks",unspecified,Y,F,NaN,Unprovoked
1,1797.05.28.R,1797,Unprovoked,unknown,NaN,NaN,Dropped overboard,child,27.37,unspecified,FATAL,May,Y,NaN,NaN,Unprovoked

# Ejercicio 1
Lo primero que debemos hacer es identificar cuáles de nuestras columnas es categóricas. Extraed el nombre de las columnas que contienen variables categóricas.

In [5]:
df_codi.dtypes

case_number      object
year              int64
type             object
country          object
area             object
location         object
activity         object
name             object
age             float64
species          object
injury           object
fecha_limpia     object
fatal_limpio     object
sexo             object
age_2           float64
type_2           object
dtype: object

In [6]:
col_categorica  = df_codi.select_dtypes(include = 'object')

In [7]:
col_categorica.columns

Index(['case_number', 'type', 'country', 'area', 'location', 'activity',
       'name', 'species', 'injury', 'fecha_limpia', 'fatal_limpio', 'sexo',
       'type_2'],
      dtype='object')

# Ejercicio 2
Si nos fijamos en la columna de country es muy complicado codificar esa columna ya que hay muchísimas categorías. Para ello, vamos a usar una librería que llamada geopy que nos devuelve las coordenadas de un pais, ciudad, pueblo. El objetivo de esto es poder clasificar nuestros paises en Hemisferio Norte y Sur para poder hacer una codificación más eficaz. Os dejamos por aquí la documentación de la librería para que veais como funciona y el código:

In [8]:
def extraer_coordenadas(x):
    try:
        geolocator = Nominatim(user_agent = "ana")
        location = geolocator.geocode(x)
        return location.lat, location.long
    except:
        return "no hay datos"

In [9]:
df_codi = pd.read_csv('attacks_limpiando_con_coordenadas.csv', index_col=0)
df_codi.head()

,year,type,country,age,species_,fecha_limpia,fatal,sex,latitud,longitud
0,2018,Boating,usa,57.0,White shark,Jun,N,F,39.7837304,-100.445882
1,2018,Unprovoked,usa,11.0,Unespecific,Jun,N,F,39.7837304,-100.445882
2,2018,Invalid,usa,48.0,Unespecific,Jun,N,M,39.7837304,-100.445882
3,2018,Unprovoked,australia,27.0,Unespecific,Jun,N,M,-24.7761086,134.755
4,2018,Provoked,mexico,27.0,Tiger shark,Jun,N,M,23.6585116,-102.0077097

In [10]:
df_codi["species_"] = df_codi["species_"].rename("species")

In [11]:
df_codi.dtypes

year              int64
type             object
country          object
age             float64
species_         object
fecha_limpia     object
fatal            object
sex              object
latitud          object
longitud         object
dtype: object

In [12]:
df_categorica  = df_codi.select_dtypes(include = 'object')

In [13]:
df_categorica.columns

Index(['type', 'country', 'species_', 'fecha_limpia', 'fatal', 'sex',
       'latitud', 'longitud'],
      dtype='object')

- Como ya tenemos las coordenadas, deberéis codificar la columna en función de si pertenecen al Hemisferio Norte (HN)(postivo) o Sur (HS)(negativo). Aquellas que pertencezcan al HN le pondremos un 1 y a las del HS le pondremos un 0.

In [14]:
df_categorica_copia = df_categorica.copy()

In [15]:
latitud_nueva = []

for i in df_categorica_copia['latitud']:
    if i < '0':
        latitud_nueva.append('HS')
    else: 
        latitud_nueva.append('HN')

In [16]:
latitud_nueva

['HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HS',
 'HS',
 'HN',
 'HN',
 'HS',
 'HS',
 'HS',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HS',
 'HS',
 'HN',
 'HS',
 'HS',
 'HN',
 'HS',
 'HN',
 'HS',
 'HS',
 'HS',
 'HS',
 'HS',
 'HS',
 'HS',
 'HS',
 'HS',
 'HS',
 'HS',
 'HS',
 'HS',
 'HS',
 'HS',
 'HS',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HS',
 'HS',
 'HN',
 'HS',
 'HS',
 'HS',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HS',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HS',
 'HS',
 'HS',
 'HN',
 'HS',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HS',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HS',
 'HS',
 'HS',
 'HS',
 'HN',
 'HS',
 'HS',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HS',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HS',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HS',
 'HN',
 'HS',
 'HS',
 'HS',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HS',
 'HS',
 'HS',
 'HN',
 'HN',
 'HS',
 'HS',
 'HS',
 'HS',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HS',
 'HS',
 'HS',
 'HN',
 'HN',
 'HS',
 'HS',
 'HN',
 'HS',
 'HN',
 'HS',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HS',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HS',
 'HN',
 'HN',
 'HS',
 'HS',
 'HN',
 'HS',
 'HS',
 'HN',
 'HN',
 'HS',
 'HS',
 'HN',
 'HN',
 'HS',
 'HS',
 'HN',
 'HS',
 'HN',
 'HS',
 'HS',
 'HS',
 'HS',
 'HS',
 'HN',
 'HS',
 'HS',
 'HN',
 'HS',
 'HS',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HS',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HS',
 'HS',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HS',
 'HS',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HS',
 'HN',
 'HS',
 'HS',
 'HS',
 'HN',
 'HN',
 'HS',
 'HS',
 'HS',
 'HS',
 'HN',
 'HN',
 'HS',
 'HS',
 'HS',
 'HN',
 'HS',
 'HS',
 'HS',
 'HN',
 'HN',
 'HS',
 'HS',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HS',
 'HS',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HS',
 'HS',
 'HN',
 'HN',
 'HS',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HS',
 'HS',
 'HN',
 'HS',
 'HS',
 'HN',
 'HS',
 'HS',
 'HS',
 'HS',
 'HN',
 'HS',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HS',
 'HN',
 'HS',
 'HN',
 'HS',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HS',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HS',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HS',
 'HN',
 'HS',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HS',
 'HS',
 'HS',
 'HN',
 'HS',
 'HS',
 'HS',
 'HS',
 'HN',
 'HS',
 'HS',
 'HS',
 'HN',
 'HN',
 'HS',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HS',
 'HS',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HS',
 'HN',
 'HS',
 'HS',
 'HS',
 'HS',
 'HS',
 'HS',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HS',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HS',
 'HS',
 'HN',
 'HN',
 'HS',
 'HS',
 'HS',
 'HS',
 'HN',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HS',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 'HN',
 ...]

In [17]:
df_latitud = pd.DataFrame(latitud_nueva)

In [18]:
df_latitud.value_counts()

HN    3495
HS    2723
dtype: int64

In [19]:
df_categorica_copia['latitud'] = df_latitud

Usamos el método ***map*** para realizar la codificación en nuestra columna

In [20]:
mapa = {'HN': 1, 'HS': 0}

In [21]:
df_categorica_copia["latitud"] = df_categorica_copia["latitud"].map(mapa)

Comprobamos que se han realizados el mapeo y pasamos a reemplazarlo en la columna del df original

In [22]:
df_categorica_copia["latitud"].value_counts()

1    3495
0    2723
Name: latitud, dtype: int64

In [23]:
df_codi['latitud'] = df_categorica_copia['latitud']

# Ejercicio 3
Aplicad un get_dummies a las columnas de fatal y age.

In [24]:
dummies_fatal = pd.get_dummies(df_categorica["fatal"], prefix_sep = "_", prefix = "fatal", dtype = int)
dummies_fatal.head(2)

   fatal_N  fatal_Unknown  fatal_Y
0        1              0        0
1        1              0        0

In [25]:
df_codi = pd.concat([df_codi, dummies_fatal], axis = 1)
df_codi.head(2)

,year,type,country,age,species_,fecha_limpia,fatal,sex,latitud,longitud,fatal_N,fatal_Unknown,fatal_Y
0,2018,Boating,usa,57.0,White shark,Jun,N,F,1,-100.445882,1,0,0
1,2018,Unprovoked,usa,11.0,Unespecific,Jun,N,F,1,-100.445882,1,0,0

Como la columna age es de tipo float, primero tendremos que convertirlo a tipo string. Usaremos el método cut para dividir las edades en rangos. A partir de ahí, ya podremos codificarlo.

In [26]:
df_codi['age'].describe()

count    6218.000000
mean       27.163397
std        10.362343
min         1.000000
25%        22.000000
50%        27.000000
75%        27.000000
max        87.000000
Name: age, dtype: float64

In [27]:
bins_age = pd.cut(df_codi['age'], bins = 3, labels=['jovenes', 'adultos', 'ancianos'])

In [28]:
dummies_age = pd.get_dummies(bins_age, prefix_sep = "_", prefix = "age", dtype = int)
dummies_age.head(2)

   age_jovenes  age_adultos  age_ancianos
0            0            1             0
1            1            0             0

In [29]:
df_codi = pd.concat([df_codi, dummies_age], axis = 1)
df_codi.head(2)

,year,type,country,age,species_,fecha_limpia,fatal,sex,latitud,longitud,fatal_N,fatal_Unknown,fatal_Y,age_jovenes,age_adultos,age_ancianos
0,2018,Boating,usa,57.0,White shark,Jun,N,F,1,-100.445882,1,0,0,0,1,0
1,2018,Unprovoked,usa,11.0,Unespecific,Jun,N,F,1,-100.445882,1,0,0,1,0,0

# Ejercicio 4
Aplicad un Label Encoding a la columna species , fecha y type.

In [30]:
le = LabelEncoder()

In [31]:
df_col_elegidas = df_categorica[['type','species_','fecha_limpia']]

In [32]:

for col in df_col_elegidas:
    df_col_elegidas[col]=le.fit_transform(df_col_elegidas[col])

/tmp/ipykernel_28201/3797466698.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_col_elegidas[col]=le.fit_transform(df_col_elegidas[col])

In [33]:
df_col_elegidas

      type  species_  fecha_limpia
0        1         4             7
1        7         3             7
2        3         3             7
3        7         3             7
4        4         2             7
...    ...       ...           ...
6213     7         2            14
6214     7         2            14
6215     7         2            14
6216     7         3            14
6217     7         3            14

[6218 rows x 3 columns]

In [34]:
df_codi = pd.concat([df_codi, df_col_elegidas], axis = 1)
df_codi.head(2)

,year,type,country,age,species_,fecha_limpia,fatal,sex,latitud,longitud,fatal_N,fatal_Unknown,fatal_Y,age_jovenes,age_adultos,age_ancianos,type,species_,fecha_limpia
0,2018,Boating,usa,57.0,White shark,Jun,N,F,1,-100.445882,1,0,0,0,1,0,1,4,7
1,2018,Unprovoked,usa,11.0,Unespecific,Jun,N,F,1,-100.445882,1,0,0,1,0,0,7,3,7

GUARDAR CSV

In [35]:
df_codi.to_csv('pairs_limpieza.csv')