In [2]:
import pandas as pd
import numpy as np

In [3]:
# Cargad el csv que guardasteis ayer.
df = pd. read_csv("odisea.csv")

In [4]:
df.head()

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...

In [5]:
#nº de filas de el df original (sin borar nan)
df_con_nans = df.shape
df_con_nans

(6114, 13)

In [6]:
#eliminando nulos del df
df.dropna(inplace = True)

In [7]:
df_sin_nans = df.shape
df_sin_nans

(1502, 13)

In [8]:
#se han borrado
nans_borrados = df_con_nans[0]-df_sin_nans[0]
nans_borrados

4612

In [9]:
df.head()

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
6,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
13,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...

In [10]:
# ¿Cuál es el número de ataques que se han producido en Estados Unidos?
df_usa = (df[df["country"] == "USA"])
len(df_usa)

719

In [1]:
df_usa.shape[0]

NameError: name 'df_usa' is not defined

In [11]:
# Ataques en España?
df_spain = df[df["country"] == "SPAIN"]
len(df_spain)

5

In [12]:
# 3.1 ¿En qué regiones se han producido los ataques?
df_spain.head()

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
98,2017.08.26.b,2017.0,Invalid,SPAIN,Castellón,Grao de Moncofa,Swimming,female,F,11,Midday,Shark involvement questionable,http://sharkattackfile.net/spreadsheets/pdf_di...
233,2016.07.29,2016.0,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,male,M,40,11h30,Blue shark,http://sharkattackfile.net/spreadsheets/pdf_di...
377,2015.08.18.a,2015.0,Invalid,SPAIN,Alicante,"Poniente Beach, Benidorm",Swimming,male,M,10,11h00,Shark involvement not confirmed,http://sharkattackfile.net/spreadsheets/pdf_di...
1007,2010.07.16.b,2010.0,Provoked,SPAIN,Grand Canary Island,"Sardina del Norte, Gáldar",Swimming,male,M,9,19h15,Angel shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2469,1993.09.03,1993.0,Unprovoked,SPAIN,Costa Blanca,"Playa de las Arenas, Valencia",Swimming,Jorge Durich Heredia (or Hernandez),M,69,08h00,1.2 m [4'] shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [13]:
#estas son las regiones donde se han producido los ataques
df_spain["area"].unique

<bound method Series.unique of 98                Castellón
233       Alicante Province
377                Alicante
1007    Grand Canary Island
2469           Costa Blanca
Name: area, dtype: object>

In [14]:
# 3.2 ¿Cuántos ataques se han producido en cada área?   #value_counts
df_spain["area"].count

<bound method Series.count of 98                Castellón
233       Alicante Province
377                Alicante
1007    Grand Canary Island
2469           Costa Blanca
Name: area, dtype: object>

In [15]:
# Extrae un dataframe nuevo con los ataques que se han producido en Australia y Estados Unidos. 
df_countries = df[(df["country"] == "USA") & (df["country"] == "AUSTRALIA")]
df_countries.head()

Empty DataFrame
Columns: [case_number, year, type, country, area, location, activity, name, sex_, age, time, species_, href]
Index: []

In [22]:
#método isin
df_countries2 = df[df["country"].isin(["USA","AUSTRALIA"])]
df_countries2.head(5)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
21,2018.04.25.a,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,60,09h30,3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
35,2018.03.31,2018.0,Unprovoked,USA,Hawaii,Kukio Beach,Stand-Up Paddleboarding,male,M,25,09h30,"Tiger shark, 12'",http://sharkattackfile.net/spreadsheets/pdf_di...

In [23]:
# 4.1 ¿Cuántos ataques se han producido en cada pais?   #value_counts
df["year"].unique

<bound method Series.unique of 0       2018.0
6       2018.0
8       2018.0
10      2018.0
13      2018.0
         ...
5528    1901.0
5631    1894.0
5667    1892.0
5797    1880.0
5905    1868.0
Name: year, Length: 1502, dtype: float64>

In [24]:
# 4.2 ¿Ha habido ataques en Australia a gente que estuviera remando (lo encontrareis como Paddling en el dataframe en la columna activity)?

df_aus_padd = df[(df["country"] == "AUSTRALIA") & (df["activity"] == "Paddling")]
df_aus_padd

Empty DataFrame
Columns: [case_number, year, type, country, area, location, activity, name, sex_, age, time, species_, href]
Index: []

In [25]:
# 4.3 ¿Cuántos ataques se han producido en Australia antes del 2000?
df_aus_antiguos = df[(df["country"] == "AUSTRALIA") & (df["year"] < 2000.0)]
len(df_aus_antiguos)

151

In [26]:
# 4.4 ¿Y después del 2000?
df_aus_recientes = df[(df["country"] == "AUSTRALIA") & (df["year"] > 2000.0)]
len(df_aus_recientes)

167

In [27]:
df_fem = df["sex_"]
df_fem

0       F
6       M
8       M
10      M
13      M
       ..
5528    M
5631    M
5667    M
5797    M
5905    M
Name: sex_, Length: 1502, dtype: object

In [52]:
# Extraed unicamente los ataques a mujeres
df_fem = df[(df["sex_"] == "F")]
df_fem.head(5)

,case_number,year,siglo,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,2018.0,siglo-XXI,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
40,2018.02.23,2018.0,siglo-XXI,Unprovoked,AUSTRALIA,New South Wales,"Little Congwong Beach, La Perouse",Swimming,Anna Shurapey,F,55,"19h00, Dusk","Juvenile white shark, 2.7 to 3.2 m",http://sharkattackfile.net/spreadsheets/pdf_di...
53,2017.12.31,2017.0,siglo-XXI,Unprovoked,USA,Hawaii,"Hultin's Beach, Oahu",Surfing,Marjorie Mariano,F,54,18h00,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
71,2017.10.22,2017.0,siglo-XXI,Unprovoked,AUSTRALIA,South Australia,Normanville,Kayaking / Fishing,Sarah Williams,F,15,Afternoon,"White shark, 4.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...
75,2017.10.05,2017.0,siglo-XXI,Unprovoked,USA,Hawaii,"Kamaole Beach Park, Maui",Snorkeling,female,F,40,12h30,8' shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [29]:
# ¿Cuántas mujeres fueron atacadas en España?
df_sex_country = df[["sex_","country"]]
print(df_sex_country)

     sex_       country
0       F           USA
6       M        BRAZIL
8       M           USA
10      M     AUSTRALIA
13      M       ENGLAND
...   ...           ...
5528    M  SOUTH AFRICA
5631    M     AUSTRALIA
5667    M     AUSTRALIA
5797    M     AUSTRALIA
5905    M         INDIA

[1502 rows x 2 columns]

In [30]:
# ¿Cuántas mujeres fueron atacadas en España?
df_fem_spain = df[(df["sex_"] == "F") & (df["country"] == "SPAIN")]
len(df_fem_spain)

1

In [31]:
# 7. Extraed los ataques que se hayan producido en el año 2000, 1997 y 2006. Utilizad el método isin() para resolver este ejercicio.
df_ataques_2000 = df[df["year"].isin([2000.0])]
df_ataques_2000.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
1976,2000.12.12,2000.0,Unprovoked,FIJI,Taveuni,Garden Island Resort,Swimming back from anchored sailboat,Michael Loxton,M,47,14h30,6 m [20'] shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1979,2000.12.03,2000.0,Unprovoked,AUSTRALIA,Queensland,"Sykes Reef, Great Barrier Reef",Spearfishing,Chris Hogan,M,38,09h30,"Bronze whaler shark, 2.5 m [8.25']",http://sharkattackfile.net/spreadsheets/pdf_di...

In [32]:
# ataques 1997
df_ataques_1997 = df[df["year"].isin([1997.0])]
df_ataques_1997.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
2203,1997.12.28.b,1997.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Pringle Bay, 44 miles southeast of Cape Town",Spearfishing,Ian James Hill,M,39,14h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2207,1997.11.09,1997.0,Unprovoked,AUSTRALIA,Western Australia,Albany,Scuba diving (submerged riding a scooter),Kevin Hulkes,M,42,Morning,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [33]:
# ataques 2006. 
df_ataques_2006 = df[df["year"].isin([2006.0])]
df_ataques_2006.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
1407,2006.12.18,2006.0,Unprovoked,AUSTRALIA,Victoria,"Winki Pop, Bells Beach",Surfing,Peter Galvin,M,25,20h00,2.5 to 3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1408,2006.12.11,2006.0,Unprovoked,NEW ZEALAND,North Island,"Raglan, Manu Bay",Surfing,Elliot Paerata-Reid,M,10,11h00,2 to 3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [34]:
# ataques que han ocurrido por tiburón blanco 
# Usad el método str.contains() para resolver este ejercicio.

df_ataque_tiburon = df[df['species_'].str.contains('white', 'White', na= False, regex = True)]
df_ataque_tiburon.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
40,2018.02.23,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Little Congwong Beach, La Perouse",Swimming,Anna Shurapey,F,55,"19h00, Dusk","Juvenile white shark, 2.7 to 3.2 m",http://sharkattackfile.net/spreadsheets/pdf_di...
459,2015.01.06,2015.0,Unprovoked,BAHAMAS,Abaco Islands,"Tahiti Beach, Elbow Cay",Snorkeling,Lacy Webb,F,34,16h00,White shark or oceanic whitetip shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [37]:
patron = 'W|w[hite]|T|t[iger]'

In [40]:
# 9. Extraed ahora los ataques por tiburón blanco o tigre. Utilizad el método str.contains() para resolver este ejercicio.
df_tiburon_tigre = df[df['species_'].str.contains(patron, na= False, regex = True)]
df_tiburon_tigre.sample(5)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
3997,1960.02.29,1960.0,Unprovoked,AUSTRALIA,Tasmania,Ralph Bay,"Wading, fishing for flounder",Malcolm Robertson & Tom Hasler,M,30 & 32,Night,Two 2.1 m [7'] sharks,http://sharkattackfile.net/spreadsheets/pdf_di...
2036,2000.07.02.a,2000.0,Unprovoked,USA,Florida,"Smyrna Dunes Park, New Smyrna Beach, Volusia C...",Standing,Danielle Shidemantle,F,19,14h45,"0.9 m [3'] shark, probably a blacktip or spin...",http://sharkattackfile.net/spreadsheets/pdf_di...
3338,1971.12.16,1971.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Fish Hoek, False Bay",Swimming,Cheryl Teague,F,16,14h45,"White shark, 3 m [10']rk",http://sharkattackfile.net/spreadsheets/pdf_di...
2559,1992.01.29.a,1992.0,Unprovoked,AUSTRALIA,New South Wales,Tweed Heads,Boogie boarding,John Bayliss (or Ballis),M,19,20h00,"Bronze whaler shark, 2.3 m [7.5']",http://sharkattackfile.net/spreadsheets/pdf_di...
427,2015.05.02,2015.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Port St. John's,Diving,Mathieu Dasnois,M,29,13h00,"White shark, 3.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...
1111,2009.06.27,2009.0,Unprovoked,AUSTRALIA,New South Wales,"Seven Mile Beach, Gerroa",Surfing,Les Wade,M,52,08h45,"Thought to involve a Bronze whale shark, 2m",http://sharkattackfile.net/spreadsheets/pdf_di...
2510,1992.12.28,1992.0,Unprovoked,USA,Hawaii,"Honomuni, Moloka'i","Standing in waist-deep water, helping his fath...",Pahu Tanaka,M,10,A.M.,"Tiger shark, 2.4 m [8']",http://sharkattackfile.net/spreadsheets/pdf_di...
2235,1997.07.21,1997.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Breezy Point, Ntlonyana",Surfing,Mark Penches,M,25,12h45,4.5 m white shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4655,1943.09.23,1943.0,Unprovoked,PANAMA,Gulf of Panama,"North shore of Rey Island, Las Perlas archipelago",Dived overboard to check propeller of US Navy ...,sailor,M,20,14h35,"White shark, 2 m [6'9""] (Tooth fragment recov...",http://sharkattackfile.net/spreadsheets/pdf_di...
2552,1992.03.08.c,1992.0,Unprovoked,JAPAN,Ehime Prefecture,Matsuyama,Hookah diving for pen shells,Kazuta Harada,M,41,15h20,"5 m [16.5'] white shark, identification by K. ...",http://sharkattackfile.net/spreadsheets/pdf_di...

In [45]:
# 10 . Utilizando la columna de year cread una nueva columna llamada siglo que siglo-XX o siglo-XXI. 
# Donde el año sea menor que 2000 pondremos siglo-XX y el resto de los años siglo-XXI.

df['siglo'] = np.where(df['year'] >= 2000.0, 'siglo-XXI', 'siglo-XX')
df.head(5)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
6,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
8,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
10,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
13,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

In [51]:
orden_columnas = [df.columns]
orden_columnas

nuevo_orden_columnas = ['case_number', 'year', 'siglo', 'type', 'country', 'area', 'location',
        'activity', 'name', 'sex_', 'age', 'time', 'species_', 'href']

df = df.reindex(columns = nuevo_orden_columnas)
df.head(5)

,case_number,year,siglo,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,2018.0,siglo-XXI,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
6,2018.06.03.a,2018.0,siglo-XXI,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,2018.0,siglo-XXI,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,2018.05.24,2018.0,siglo-XXI,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
13,2018.05.13.a,2018.0,siglo-XXI,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...