In [ ]:
# En este ejercicio de pair programming pondremos en práctica como cargar distintos tipos de archivos en Python usando Pandas.
# Al final de la explicación encontrareís una serie de ficheros con distintos formatos.
# El objetivo de este pair programming
# Id cargando todos los ficheros en vuestro jupyter.

In [1]:
import pandas as pd

In [6]:
#abriendo csv
archivo_csv = pd.read_csv("./quejas.csv",sep = ";", encoding= "latin1")
archivo_csv.head(2)

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
0,Queja,Recepcionada por Unidad,INTERNET,2022-01-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
1,Queja,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN

In [8]:
#abriendo json
archivo_json = pd.read_json("./quejas.json")
archivo_json.head(2)

                                                data
0  {'unidad_descripcion': 'D.G. de Descarbonizaci...
1  {'unidad_descripcion': 'D.G. de Descarbonizaci...

In [10]:
#abriendo xlsx
archivo_xlsx = pd.read_excel("./quejas2.xlsx")
archivo_xlsx.head(2)

        DESCRIPCION_TEMA         DESCRIPCION_SUBTEMA
0  ATENCIÓN AL CIUDADANO  ADMINISTRACIÓN ELECTRÓNICA
1  ATENCIÓN AL CIUDADANO             FUNCIÓN PÚBLICA

In [11]:
#abriendo pickle, a veces es necesario por la versión de pandas
df_csv = pd.DataFrame(archivo_csv)                                                                              #creamos df a partir del csv
archivo_pickle_df = df_csv.to_pickle("./quejas.csv")         #lo cambiamos a pickle
archivo_pickle_df.head(2)

AttributeError: 'NoneType' object has no attribute 'head'

In [15]:
pickle = pd.read_pickle("./quejas.csv")                      #leemos como pickle
pickle.head(2)

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
0,Queja,Recepcionada por Unidad,INTERNET,2022-01-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
1,Queja,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN

In [22]:
# Para poner el práctica el read_clipboard elegir alguna tabla que os podaís encontrar en google y 
# usad el dicho método para traer los datos al jupyter notebook. Una vez que los hayáis cargado, guardad esos datos en los siguientes formatos:

df_clipboard = pd.read_clipboard()
df_clipboard

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [39]:
guardar_a_csv = df_clipboard.to_csv
guardar_a_csv

<bound method NDFrame.to_csv of    id    Name subject_id  Marks_scored  Rank
0   1    Alex       sub1            98     1
1   2     Amy       sub2            90     1
2   3   Allen       sub3            87     2
3   4   Alice       sub4            69    10
4   5  Ayoung       sub5            78     7>

In [42]:
guardar_a_excel = df_clipboard.to_excel
guardar_a_excel

<bound method NDFrame.to_excel of    id    Name subject_id  Marks_scored  Rank
0   1    Alex       sub1            98     1
1   2     Amy       sub2            90     1
2   3   Allen       sub3            87     2
3   4   Alice       sub4            69    10
4   5  Ayoung       sub5            78     7>

In [40]:
guardar_a_pickle = df_clipboard.to_pickle
guardar_a_pickle

<bound method NDFrame.to_pickle of    id    Name subject_id  Marks_scored  Rank
0   1    Alex       sub1            98     1
1   2     Amy       sub2            90     1
2   3   Allen       sub3            87     2
3   4   Alice       sub4            69    10
4   5  Ayoung       sub5            78     7>

In [43]:
guardar_a_json = df_clipboard.to_pickle
guardar_a_json

<bound method NDFrame.to_pickle of    id    Name subject_id  Marks_scored  Rank
0   1    Alex       sub1            98     1
1   2     Amy       sub2            90     1
2   3   Allen       sub3            87     2
3   4   Alice       sub4            69    10
4   5  Ayoung       sub5            78     7>